<app-header></app-header>
<main class="lyear-layout-content">
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <div class="edit-avatar">
              <img src="assets/theme/images/users/avatar.jpg" alt="..." class="img-avatar">
              <div class="avatar-divider"></div>
              <!-- <div class="edit-avatar-content">
                <button class="btn btn-default">修改头像</button>
                <p class="m-0">选择一张你喜欢的图片，裁剪后会自动生成264x264大小，上传图片大小不能超过2M。</p>
              </div> -->
            </div>
            <hr>
            <form method="post" action="#!" class="site-form">
              <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="nom" value="{{UserProfile?.name}}" disabled="disabled" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{UserProfile?.email}}">
              </div>
              <button type="submit" class="btn btn-primary">modifier</button>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>

</main>
